<div>
  <link href="card.css" rel="stylesheet" />
  <div class="card-card">
    <img alt="image" src="../public/playground_assets/vector%203%20%5B3%5D-300h.png" class="card-image" />
    <span class="card-text content-Light">Android | JAVA</span>
    <h4 class="card-text1 heading4"><span>Instagram Clone</span></h4>
    <span class="card-text2 content-Light">BC chal jana bas</span>
    <img alt="image" src="664f4578-2167-46fe-bbe7-e97ee56cad43" class="card-image1" />
    <span class="card-text3">Ayush Yadav</span>
    <span class="card-text4"><span>Read more ></span></span>
  </div>
</div>