<div>
  <link href="./card1.css" rel="stylesheet" />
  <div class="card1-card">
    <img
      alt="image"
      src="../public/playground_assets/vector%203%20%5B3%5D-300h.png"
      class="card1-image"
    />
    <div class="card1-container">
      <span class="card1-text content-Light"><span>Android | JAVA</span></span>
      <h4 class="card1-text1 heading4"><span>Instagram Clone</span></h4>
      <span class="card1-text2 content-Light">
        <span>BC chal jana bas</span>
      </span>
      <div class="card1-container1">
        <img
          alt="image"
          src="664f4578-2167-46fe-bbe7-e97ee56cad43"
          class="card1-image1"
        />
        <span class="card1-text3"><span>Ayush Yadav</span></span>
        <span class="card1-text4"><span>Read more ></span></span>
      </div>
    </div>
  </div>
</div>
