.card-card {
  flex: 0 0 auto;
  width: 360px;
  height: 360px;
  margin: 0px;
  display: flex;
  max-width: 280px;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  padding-top: 0px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: 0px;
}
.card-image {
  width: 280px;
  height: 180px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
}
.card-text {
  color: var(--dl-color-grays-gray100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.card-text1 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.card-text2 {
  color: var(--dl-color-grays-gray100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.card-image1 {
  width: 280px;
  height: 180px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
}
.card-text3 {
  color: var(--dl-color-backgrounds-primary);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  line-height: 1.75;
}
.card-text3:hover {
  text-decoration: underline;
}
.card-text4 {
  color: var(--dl-color-backgrounds-primary);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  line-height: 1.75;
  padding-left: var(--dl-space-space-threeunits);
}
.card-text4:hover {
  text-decoration: underline;
}
@media(max-width: 991px) {
  .card-image {
    width: 222px;
    height: 222px;
  }
  .card-text {
    align-self: flex-start;
  }
  .card-text1 {
    align-self: flex-start;
  }
  .card-text2 {
    align-self: flex-start;
  }
  .card-image1 {
    width: 222px;
    height: 222px;
  }
  .card-text3 {
    font-size: 12px;
    align-self: flex-start;
  }
  .card-text4 {
    font-size: 12px;
    align-self: flex-start;
  }
}
@media(max-width: 767px) {
  .card-card {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .card-card {
    width: 100%;
    height: 360px;
    max-width: auto;
  }
  .card-image {
    width: 280px;
    height: 180px;
    align-self: center;
  }
  .card-text {
    margin-bottom: 0px;
  }
  .card-image1 {
    flex: 1;
    left: var(--dl-space-space-twounits);
    width: 24px;
    bottom: var(--dl-space-space-twounits);
    height: 24px;
    margin: auto;
    position: absolute;
    align-self: flex-start;
    border-color: var(--dl-color-grays-dark100);
    border-width: 1px;
    margin-right: auto;
    border-radius: var(--dl-radius-radius-round);
    padding-right: 0px;
    border-top-left-radius: var(--dl-radius-radius-round);
  }
  .card-text3 {
    left: var(--dl-space-space-fourunits);
    width: auto;
    bottom: var(--dl-space-space-twounits);
    height: auto;
    margin: auto;
    position: absolute;
    min-width: auto;
    min-height: auto;
    text-align: center;
  }
  .card-text4 {
    right: var(--dl-space-space-twounits);
    bottom: var(--dl-space-space-twounits);
    position: absolute;
    align-self: flex-end;
    padding-left: var(--dl-space-space-unit);
  }
}
