<div>
  <link href="./copyright.css" rel="stylesheet" />
  <div class="copyright-copyright">
    <div class="copyright-max-width max-content-container">
      <span class="copyright-text">
        <span class="copyright-text1">© All rights reserved @ARDOR</span>
        <a
          href="https://www.teleporthq.io"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="copyright-text2">,</span>
        </a>
        <span class="copyright-text3">Powered by SIH</span>
        <span class="copyright-text4">. Image source:</span>
        <a
          href="https://www.unsplash.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="copyright-text5">Unsplash</span>
        </a>
        <span class="copyright-text6">.</span>
      </span>
    </div>
  </div>
</div>
